@model IEnumerable<azimuth_api.Models.Map>

<div class="d-flex justify-content-between align-items-center">
    <h1>Maps</h1>
    <a asp-action="Create" asp-controller="MapAdmin" class="btn btn-success">
        <i class="fa fa-plus"></i>
    </a>
</div>

<table class="table table-sm table-striped">
    <thead class="thead-dark">
        <tr>
            <th>@Html.DisplayNameFor(f => f.First().MapId)</th>
            <th>@Html.DisplayNameFor(f => f.First().Name)</th>
            <th>URL</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var map in Model){
            <tr>
                <td>@map.MapId</td>
                <td>@map.Name</td>
                <td>
                    @Html.ActionLink($"/api/map/{@map.MapId}","GetMap","Map",new { Id = map.MapId })
                    <button type="button" class="btn btn-sm btn-light"><i class="fa fa-copy"></i> Copy</button>
                </td>
                <td>
                    <ul class="list-inline mb-0">
                        <li class="list-inline-item">
                            <a asp-action="Edit" asp-controller="MapAdmin" asp-route-id="@map.MapId" class="btn btn-sm btn-light"><i class="fa fa-edit"></i> Edit </a>
                        </li>
                        <li class="list-inline-item">
                            <a asp-action="Edit" asp-controller="MapAdmin" asp-route-id="@map.MapId" class="btn btn-sm btn-light"><i class="fa fa-times"></i> Delete </a>
                        </li>
                    </ul>
                </td>
            </tr>
        }
    </tbody>
</table>